<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209827973689-2bfriedm6lu58p2gsmi1f5cicev88jn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209827973689-2bfriedm6lu58p2gsmi1f5cicev88jn9</string>
	<key>API_KEY</key>
	<string>AIzaSyCkvGQ7DGB5OWOkDYJJg3Zr7u0gTy2YtgA</string>
	<key>GCM_SENDER_ID</key>
	<string>209827973689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahul.DriverApp</string>
	<key>PROJECT_ID</key>
	<string>cabapp-dc464</string>
	<key>STORAGE_BUCKET</key>
	<string>cabapp-dc464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209827973689:ios:13bbdf31996fdc98</string>
	<key>DATABASE_URL</key>
	<string>https://cabapp-dc464.firebaseio.com</string>
</dict>
</plist>